.popup__container-image {
  max-width: 240px;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .popup__container-image {
    max-width: 433px;
  }
}

@media screen and (min-width: 1280px) {
  .popup__container-image {
    max-width: 816px;
  }
}
